@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.main--modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,
.main--modal::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

header {
    background: center / cover no-repeat url("./images/image-hero-mobile.jpg");
    height: 300px;
}

main>section {
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    header {
        background: center / cover no-repeat url("./images/image-hero-desktop.jpg");
        height: 400px;
    }

    main>section {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }
}